.DS_Store
Project/Code/win.win/boapartyrepo.xml
Project/Code/win.win/boarepository.xml
Project/Code/win.win/.classpath
Project/Code/win.win/.settings/
Project/Code/.metadata/
Project/Code/win.win/.metadata
Project/Code/win.win/bin/